.container {
    position: relative;
    padding: 11px 15px 14px;
    min-height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
    line-height: 20px;
    color: #1A1B20;

    &:before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 1px;
        background-color: #ddd;
    }
}

.title {
    color: rgba(#1A1B20, .3);
    padding-right: 15px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: -15px;
}

.button {
    position: relative;
    width: 24px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    margin: 0 15px;

    &._disabled {
        opacity: .3;
    }

    &:before {
        content: '';
        position: absolute;
        left: -10px;
        right: -10px;
        top: -10px;
        bottom: -10px;
    }
}
