.container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding: 45px 0 50px;
}

.content {
    flex: 1;
}

.tabs {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 100;
}

.icon {
    width: 22px;
    height: 22px;
}
