.icon {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.arrow {
    width: 16px;
    height: 30px;
}

.logo {
    width: 110px;
    height: 35px;
    margin-top: 8px;
}

.profile {
    width: 21px;
    height: 20px;
}

.wrapper {
    padding: 10px 15px;
    margin: -10px -15px;
}
