.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 101;
}
.icon {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.arrow {
    width: 16px;
    height: 30px;
}

.logo {
    width: 105px;
    height: 30px;
    margin-top: 8px;
    background-size: 105px 30px;
}

.profile {
    width: 21px;
    height: 20px;
}

.wrapper {
    padding: 10px 15px;
    margin: -10px -15px;
}

.userType {
    height: 18px;
    display: flex;
    align-items: center;
}

.userIcon {
    width: 18px;
    display: flex;
    align-items: center;
    margin-right: 9px;

    .modal & {
        margin-right: 15px;
    }
}

.userArrow {
    width: 15px;
    height: 15px;
    background-size: 15px 15px;
    background-position: center -1px;
    background-repeat: no-repeat;
}

.modal {
    position: absolute;
    left: 0;
    right: 0;
    top: 45px;
    height: 100vh;
    background-color: rgba(#1A1B20, .5);
    padding-bottom: 50px;
    overflow: hidden;
}

.list {
    border-top: 1px solid #fff;
}

.item {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #4263CA;
    color: #fff;
    height: 45px;
    padding: 0 15px;
    font-size: 17px;
    line-height: 25px;

    &:before {
        content: '';
        position: absolute;
        left: 15px;
        right: 0;
        bottom: 0;
        height: 1px;
        background-color: #fff;
    }

    &:last-child:before {
        content: none;
    }
}
