.advantagesWrapper {
    display: flex;
    justify-content: center;
    padding: 80px 0 172px;
}

.advantages {
    width: 1024px;
}

.advantagesSpacer {
    margin-top: 80px;
}

.advantagesTitle {
    line-height: 32px;
    font-size: 24px;
}

.advantagesList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    &._center {
        justify-content: space-around;
    }
}

.advantagesItem {
    padding-top: 30px;
    width: 328px;
}

.advantagesItemTitle {
    line-height: 24px;
    font-size: 16px;
    margin-bottom: 5px;

    &._center {
        text-align: center;
    }
}

.advantagesItemContent {
    line-height: 22px;
    font-size: 14px;
    text-align: justify;
    color: rgba(0, 0, 0, 0.43);

    &._center {
        text-align: center;
    }
}

.advantagesItemIcon {
    text-align: center;
    margin-bottom: 22px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .advantagesWrapper {
        padding: 80px 0;
    }

    .advantages {
        width: 628px;
    }

    .advantagesItem {
        width: 304px;
    }
}

@media screen and (max-width: 767px) {
    .advantagesWrapper {
        padding: 60px 20px;
    }

    .advantages {
        width: 320px;
    }

    .advantagesSpacer {
        margin-top: 60px;
    }

    .advantagesItem {
        width: 280px;
    }
}
