.container {
    padding-bottom: 50px;
}

.text {
    white-space: nowrap;
    margin-right: 10px;
    color: rgba(#1A1B20, .3);
}

.profile {
    padding: 30px 15px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section {
    margin-top: 25px;
}

.photo {
    width: 90px;
    height: 90px;
    padding: 25px;
    border-radius: 50%;
    background-color: #CADEF3;
    color: #4263CA;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .5;
}

.name {
    margin-top: 15px;
    font-size: 18px;
    line-height: 18px;
}

.infoField {
    position: relative;
    font-size: 17px;
    line-height: 25px;
    padding: 5px 15px;
    min-height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgba(#1A1B20, .3);

    &:after {
        content: '';
        position: absolute;
        left: 15px;
        right: 0;
        bottom: 1px;
        height: 1px;
        background-color: #ddd;
    }
}

.infoValue {
    color: #1A1B20;
}

.tick {
    width: 22px;
    min-width: 22px;
    height: 22px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 15px;
}

.car {
    position: relative;
    min-height: 45px;
    padding: 5px 15px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(#1A1B20, .3);
    font-size: 16px;

    &:after {
        content: '';
        position: absolute;
        left: 15px;
        right: 0;
        bottom: 1px;
        height: 1px;
        background-color: #ddd;
    }
}

.logout {
    margin-top: 10px;

    :global .am-button {
        color: #4263CA;
        border: 1px solid #4263CA!important;

        &:before {
            content: none!important;
        }
    }
}

.rateWrapper {
    color: #4263CA;

    &:after {
        content: none;
    }
}

.rate {
    display: flex;
    position: relative;
}

.rateValue {
    margin-left: 10px;
}

.stars {
    display: flex;
    align-items: center;
    height: 22px;
    overflow: hidden;

    &._filled {
        position: absolute;
        left: 0;
    }
}

.star {
    width: 18px;
    min-width: 18px;
    height: 18px;
    min-height: 18px;

    svg {
        display: block;
    }
}

.footer {
    margin-top: 25px;
}
