.container {
    :global .am-list-content {
        color: rgba(#1A1B20, .3)!important;
    }

    :global .am-list-extra {
        color: #1A1B20!important;
    }
}

.text {
    white-space: nowrap;
    margin-right: 10px;
    color: rgba(#1A1B20, .3);
}

.section {
    margin-top: 25px;

    &:first-of-type {
        margin-top: 0;
    }
}

.datePicker {
    background-color: #f00;

    :global .am-list-body:before {
        content: none!important;
    }

    :global .am-list-body:after {
        left: 15px!important;
        right: 0!important;
        width: auto!important;
        transform: none!important;
        transform-origin: none!important;
    }

    :global .am-list-extra {
        min-width: 160px;
    }
}

.inputWithIcon {
    padding-right: 38px;
}

.icon {
    position: absolute;
    right: 15px;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #bdbdbd;
}

.notes {
    width: 100%;
    height: 85px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-left: 0;
    border-right: 0;
    font: inherit;
    font-size: 17px;
    line-height: 25px;
    resize: none;
    padding: 10px 15px;

    &::placeholder {
        color: rgba(#1A1B20, .3);
    }
}
