.rootContainer {
    min-height: 100vh;
}

.container {
    padding-top: 45px;
}

.button {
    height: 40px;
    background-color: #97B725;
    padding: 8px 30px;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    border-radius: 4px;
    transition: background-color .2s;

    &:hover {
        background-color: darken(#97B725, 10%);
    }
}

@media screen and (min-width: 768px) {
    .container {
        &._root {
            padding-top: 80px;
        }
    }
}
