.container {}

.form {
    :global .am-list-content {
        color: rgba(#1A1B20, .3)!important;
    }

    :global .am-list-extra {
        overflow: visible!important;
        text-overflow: unset!important;
    }
}

.icon {
    min-width: 18px;
    width: 18px;
    height: 18px;
    margin-right: 15px;
}

.text {
    margin-right: 10px;
    color: #1A1B20;
}

.rides {
    margin-top: 15px;
}

.ride {
    display: flex;
    position: relative;
    width: 100%;
    padding: 15px 15px 15px 42px;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 5px;

    &:before {
        content: '';
        position: absolute;
        left: 15px;
        right: 15px;
        height: 1px;
        bottom: 0;
        background-color: #ddd;
    }

    &:last-child {
        margin-bottom: 0;
    }

    .rides._withLast &:last-child:before {
        content: none;
    }
}

.gray {
    display: block;
    color: rgba(#000, .5);
    font-size: 14px;
    margin-top: 5px;
}

.date {
    width: 60px;
}

.info {
    width: 50px;
    text-align: right;
}

.direction {
    flex: 1;
    padding: 0 15px;
}

.field {
    &:before {
        left: 0;
    }
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 15px 50px;
    min-height: 122px;
}

.noResults {
    padding: 15px;
    font-size: 16px;
    line-height: 18px;
}

.userTypeIcon {
    position: absolute;
    left: 15px;
    width: 18px;
    height: 18px;
    background-position: center;
    background-size: 18px 18px;
    background-repeat: no-repeat;
}
