.container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    z-index: 1;
}

.logoWrapper {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 245px;
    height: 62px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 245px 62px;
}

.content {
    background-color: #fff;
    display: flex;
    flex-direction: column;

    &._fullScreen {
        flex: 1;
        min-height: 100vh;
    }
}

.header {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.smiley {
    width: 75px;
    height: 75px;
    margin-bottom: 15px;
}

.title {
    font-size: 25px;
    line-height: 25px;
    color: #97B725;
    font-weight: 900;
}

.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 15px 25px;
}

.buttons {
    width: 250px;
    margin-bottom: 15px;
}

.inlineButton {
    white-space: nowrap;
    width: 100%;
    font-size: 17px;
    line-height: 25px;
    text-align: center;
    color: rgba(#1A1B20, .3);

    a {
        color: #4263CA;
    }
}

.googleButton {
    display: block;
    outline: 0 none;
    -webkit-appearance: none;
    box-sizing: border-box;
    padding: 0 22px 0 16px;
    text-align: center;
    font-size: 18px;
    height: 47px;
    line-height: 47px;
    color: #1A1B20;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
        width: 20px;
        height: 20px;
    }
}

.input {
    margin-top: 10px;

    input {
        text-align: left;
        color: #1A1B20;
    }
}

.description {
    color: rgba(#1A1B20, .5);
    font-size: 16px;
    line-height: 24px;
    max-width: 250px;
    margin: 40px auto 20px;
    text-align: center;
}

.link {
    color: #4263CA;
}

.error {
    color: #F5222D;
}
