.photoPicker {
    position: relative;
    padding: 0 15px;
}

.photoInput {
    position: absolute;
    left: 15px;
    top: 0;
    width: 105px;
    height: 105px;
    opacity: 0;
 }

.photo {
    position: relative;
    width: 105px;
    height: 105px;
    border: 1px solid rgba(#1A1B20, .3);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .photoPicker._empty & {
        &:before, &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            background-color: #DCDEE3;
        }

        &:before {
            height: 50px;
            width: 1px;
            margin-top: -25px;
        }

        &:after {
            height: 1px;
            width: 50px;
            margin-left: -25px;
        }
    }
}

.section {
    position: relative;
    margin-top: 25px;
}

.text {
    white-space: nowrap;
    margin-right: 10px;
    color: rgba(#1A1B20, .3);
}

.general {
    margin-top: 0;

    input {
        color: #1A1B20;
    }
}

.moreInfo input {
    text-align: left;
}

.car {
    position: relative;
    min-height: 45px;
    padding: 5px 15px 8px 52px;
    font-size: 16px;
    display: flex;
    flex-direction: column;

    &:after {
        content: '';
        position: absolute;
        left: 52px;
        right: 0;
        bottom: 1px;
        height: 1px;
        background-color: #ddd;
    }
}

.carInfo {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding-right: 15px;
    color: #888;
}

.addCar {
    position: relative;
    font-size: 17px;
    line-height: 25px;
    padding: 5px 15px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: rgba(#1A1B20, .3);

    &:after {
        content: '';
        position: absolute;
        left: 15px;
        right: 0;
        bottom: 1px;
        height: 1px;
        background-color: #ddd;
    }
}

.icon {
    width: 22px;
    min-width: 22px;
    height: 22px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    &._plus {
        margin-right: 15px;
    }

    &._arrow {
        position: absolute;
        right: 15px;
    }
}

.deleteIcon {
    width: 50px;
    height: 44px;
    position: absolute;
    left: 0;
    top: 0;
    background-position: 15px 12px;
    background-size: 22px 22px;
    background-repeat: no-repeat;
}

.modal._disabled {
    background-color: red;
    :global .am-modal-button {
        color: rgba(#1A1B20, .3)!important;
    }
}

.codeInputWrapper {
    position: relative;
}

.code {
    height: 36px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 14px;
    line-height: 14px;
    font-family: inherit;

    &._error {
        border-color: #F5222D;
    }
}

.errorText {
    position: absolute;
    color: #F5222D;
    font-size: 8px;
    line-height: 8px;
    bottom: -2px;
    right: 2px;
    transform: translateY(100%);
}

.modalHeader {
    font-size: 14px;
    line-height: 18px;
    color: #888;
    margin-bottom: 16px;
}

.modalFooter {
    font-size: 10px;
    line-height: 22px;
    color: #888;
    margin-top: 16px;
}

.link {
    color: #4263CA;
}

.tick {
    position: absolute;
    right: 15px;
    width: 22px;
    min-width: 22px;
    height: 22px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
}

.button {
    position: absolute;
    right: 15px;
    padding: 8px 35px;
    z-index: 1;
    color: #fff;
    background-color: #4263CA;
    border-radius: 3px;
    font-size: 13px;
    line-height: 13px;
}

.phoneInput {
    input:focus::placeholder {
        color: transparent;
    }

    &._focused input {
        padding-left: 12px;
    }
}

.plus {
    position: absolute;
    left: 15px;
    color: #888;
}

.about {
    position: relative;
}

.aboutInput {
    width: 100%;
    height: 85px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-left: 0;
    border-right: 0;
    font: inherit;
    font-size: 17px;
    line-height: 25px;
    resize: none;
    padding: 10px 15px;
    -webkit-appearance: none;

    &::placeholder {
        color: rgba(#1A1B20, .3);
    }
}

.warning {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 21px;
    height: 21px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #fff;

    .section._photo & {
        top: 3px;
    }
}

.footer {
    margin: 25px 0 50px;
    display: flex;
    justify-content: center;
}

.licensePlate {
    padding-left: 15px;
}
